$input-line-height:30px;
.input-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    .form-item {
        display: flex;
        margin: 0 0 5px 0;
        height: 40px;
        md-select {
            margin: 0 5px;
            min-width: 150px;
        }
    }
    .item-name {
        height: $input-line-height;
        width: 100px;
        background-color: $wetAsphalt;
        color: #fff;
        margin: 0 0 0 5px;
        padding-left: 5px;
        overflow: hidden;
    }
    .item-input {
        display: inline;
        height: $input-line-height;
        margin-left: 5px;
        padding: 1px 0px;
        box-sizing: border-box;
        input[type="tel"] {
            height: 22px;
            display: inline;
            width: 100px;
            text-align: right;
            font-size: 18px;
        }
        input[type="text"] {
            height: 22px;
            display: block;
            text-align: left;
            font-size: 18px;
        }
    }
    .item-icon {
        height: $input-line-height;
        width: 40px;
        color: $silver-grey;
        margin-left: 5px;
        display: inline;
    }
    .item-icon-active {
        height: $input-line-height;
        width: 40px;
        color: $emerald-green;
        margin-left: 5px;
        display: inline;
    }
    .item-unit {
        height: $input-line-height;
        width: 40px;
        color: $silver-grey;
        margin-left: 5px;
        display: inline;
        h3 {
            font-size: 16px;
        }
    }
    .item-radio {
        height: $input-line-height;
        color: $silver-grey;
        margin-left: 5px;
        display: inline;
        md-radio-button {
            .md-label {
                margin-right: 8px;
                margin-left: 22px;
            }
        }
    }
}

.numPadRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    .num-btn {
        flex: 1;
        background-color: $clouds-grey;
        height: 50px;
        border: 1px solid #000000;
        color:$midnight-blue;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
    }
    .middle-btn {
        margin-right: 2px;
        margin-left: 2px;
    }
}
