<div ng-controller="HomeCtrl as Ctrl">
    <!--  <div class="page-title">
        <h4>{{Ctrl.navLocation}}</h4></div>
    <horiz-rule marginbottom="10"></horiz-rule> -->
    <div class="sub-title">
        <h4>{{Ctrl.S.selectedJob.property}} / Unit #{{Ctrl.FORM.unit}}</h4></div>
    <div ui-view>
        <div class="home-menu">
            <home-btn mylabel="'PROPERTY'" ng-click="Ctrl.goNav('home.job')"></home-btn>
            <home-btn mylabel="'UNIT'" ng-click="Ctrl.goNav('home.unit')"></home-btn>
            <home-btn mylabel="'DOORS'" ng-click="Ctrl.goNav('home.input')"></home-btn>
        </div>
       
    </div>
</div>
