<div>
    <h3>Total: {{Ctrl.UNIT_DOORS.length}}</h3>

    <table st-table="Ctrl.UNIT_DOORS" class="table table-striped">
        <thead>
            <tr> 
                <th>H</th>
                <th>W</th>
                <th style="width:40px;">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in Ctrl.UNIT_DOORS">
                
                <td>{{row.height}}</td>
                <td>{{row.width}}</td>
                <td><i class="fa fa-pencil" ng-click="Ctrl.editDoor(row)" style="cursor:pointer;"></i></td>
            </tr>
        </tbody>
    </table>
    <home-btn mylabel="'BACK'" ng-click="Ctrl.goNav('home.input');"></home-btn>
    
</div>
