<div>
    <div class="input-form">
        
        <div class="form-item">
            <div><home-btn mylabel="'Height'" ng-click="Ctrl.editH()"></home-btn></div>
            <div ng-class="Ctrl.editActiveH ? 'item-icon-active' : 'item-icon'">
                <i class="fa fa-pencil fa-lg"></i></div>
            <div class="item-input">
                <h3>{{Ctrl.FORM.height}}</h3>
            </div>
        </div>
        <div class="form-item">
            <div><home-btn mylabel="'Width'" ng-click="Ctrl.editW()"></home-btn></div>
            <div ng-class="Ctrl.editActiveW ? 'item-icon-active' : 'item-icon'">
                <i class="fa fa-pencil fa-lg"></i></div>
            <div class="item-input">
                <h3>{{Ctrl.FORM.width}}</h3>
            </div>
        </div>
        
        
        <div class="flex-column" ng-show="Ctrl.showKeyboard">
            <div class="numPadRow">
                <div class="num-btn" ng-click="Ctrl.numpad('1')">1</div>
                <div class="num-btn middle-btn" ng-click="Ctrl.numpad('2')">2</div>
                <div class="num-btn" ng-click="Ctrl.numpad('3')">3</div>
            </div>
            <div class="numPadRow">
                <div class="num-btn" ng-click="Ctrl.numpad('4')">4</div>
                <div class="num-btn middle-btn" ng-click="Ctrl.numpad('5')">5</div>
                <div class="num-btn" ng-click="Ctrl.numpad('6')">6</div>
            </div>
            <div class="numPadRow">
                <div class="num-btn" ng-click="Ctrl.numpad('7')">7</div>
                <div class="num-btn middle-btn" ng-click="Ctrl.numpad('8')">8</div>
                <div class="num-btn" ng-click="Ctrl.numpad('9')">9</div>
            </div>
            <div class="numPadRow">
                <div class="num-btn" ng-click="Ctrl.numpad('.')">.</div>
                <div class="num-btn middle-btn" ng-click="Ctrl.numpad('0')">0</div>
                <div class="num-btn" ng-click="Ctrl.numpad('-')">Back</div>
            </div>
        </div>
        <horiz-rule marginbottom="10"></horiz-rule>

        <div class="flex-space-between" ng-show="Ctrl.submitType == 'insert'">
            <home-btn mylabel="'SAVE'" ng-click="Ctrl.saveDoor()"></home-btn>
            <home-btn mylabel="'REVIEW'" ng-click="Ctrl.goNav('home.review');"></home-btn>
        </div>

        <div class="flex-space-between" ng-show="Ctrl.submitType == 'update'">
            <home-btn mylabel="'SAVE'" ng-click="Ctrl.saveDoor()"></home-btn>
            <home-btn mylabel="'DELETE'" ng-click="Ctrl.deleteDoor();"></home-btn>
        </div>
    </div>
</div>
